  {% extends "layout.html.twig" %}
  
		{% block title %}Admin{% endblock %}

		{% block content %}

  <body id="page-top">
    <header id="headadmin" class="bg-primary text-white">
      <div class="container text-center">
        <h1>Bienvenue dans votre interface d'administration</h1>
      </div>
    </header>

    <nav id="navadmin" class="navbar navbar-default">
      <div class="navbar-header">
        <ul id="uladmin" class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#planning">Gestion calendrier</a>
          </li>
          <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#membres">Liste des membres</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#upload">Uploads</a>
          </li>
        </ul>
      </div>
    </nav>
   {# <a href="{{ path('', {id: cours.id}) }}">Supprimer</a> | <a href="{{ path('', {id: cours.id}) }}">Modifier</a> </p>#}

<div id="pagination" class="container-fluid">
	<h1>Gestion calendrier</h1>
		<div class="row">
			<div class="col-md-6">
				<nav aria-label="Page navigation">
					<ul class="pagination pagination-lg">
							<li><a href="#">Lundi</a></li>
							<li><a href="#">Mardi</a></li>
							<li><a href="#">Mercredi</a></li>
							<li><a href="#">Jeudi</a></li>
							<li><a href="#">Vendredi</a></li>
							<li><a href="#">Samedi</a></li>
							<li><a href="#">Dimanche</a></li>
							<li>
							<a>Semaine suivante</a>
              <a>Semaine precedente</a>
						</li>
					</ul>
				</nav>	
			</div>
		</div>
	</div>

<div id="planning" class="container-fluid">
    <div class="row">
      <div class="col-md-6">
        {% for cours in planning %}
        <div class="col-md-2 text-white">{{ cours.date_cours|date('h:i') }}</div>
			  <div class="col-md-2 text-white">Cours : {{ cours.nom }}</div>
			  {#<div class="col-md-1 text-white">Intensité du cours: {{ cours.intensite }}</div>#}
			  <div class="col-md-2 text-white">Durée : {{ cours.duree }} minutes</div>
        {% endfor %}
      </div>
      {#<div class="col-md-6">
        {% for inscrit in reservation %}
        <div id="planning" class="col-md-1 bg-primary text-white">{{ inscrit.firstname }}</div>
        <div id="planning" class="col-md-2 bg-secondary text-white">{{ inscrit.username }}</div>
        <div id="planning" class="col-md-3 bg-success text-white">{{ inscrit.cours_id }}</div>
        {% endfor %} 	
      </div>#}
    </div>
  </div>


  <div id="membre" class="container-fluid">
    <div class="row">
    <div class="col-md-6">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">*</th>
            <th scope="col">Nom</th>
            <th scope="col">Prenom</th>
            <th scope="col">Phone</th>
          </tr>
          </thead>
          {% for membres in user %}
          <tbody>
            <tr>
              <th scope="row">1</th>
              <td>{{ membres.username }}</td>
              <td>{{ membres.firstname }}</td>
              <td>{{ membres.phone }}</td>
            </tr>
          </tbody>
          {% endfor %}	
        </table>
        </div>
      </div>
    </div> 




  <div class="col-md-6">
    <div class="container">
      <div class="row">
        <form id="upload"action="upload.php" method="post" enctype="multipart/form-data">
          <p>Fichier PDF du nouveau planning:</p>
          <input type="file" name="fileToUpload" id="fileToUpload">
          <input type="submit" value="Envoyer" name="submit">
        </form>
      </div>
    </div>
  </div>

{% endblock %}