  {% extends "layout.html.twig" %}
  
		{% block title %}Admin{% endblock %}

		{% block content %}

  <body id="page-top">
    <header id="headadmin" class="bg-primary text-white">
      <div class="container text-center">
        <h1>Bienvenue dans votre interface d'administration</h1>
      </div>
    </header>

    <nav id="navadmin" class="navbar navbar-default">
      <div class="navbar-header">
        <ul id="uladmin" class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#planning">Gestion calendrier</a>
          </li>
          <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#membres">Liste des membres</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#upload">Uploads</a>
          </li>
        </ul>
      </div>
    </nav>
   
{#<div id="planning" class="container-fluid">
    <div class="row">
      <div class="col-md-6">
        {% for cours in planning %}
        <div id="planning" class="col-md-1 bg-primary text-white">{{ cours.date_cours }}</div>
        <div id="planning" class="col-md-2 bg-secondary text-white">{{ cours.duree }}</div>
        <div id="planning" class="col-md-3 bg-success text-white">{{ cours.cours_id }}</div>
        <div id="planning" class="col-md-3 bg-success text-white">{{ cours.place_max}}</div>
        {% endfor %}
      </div>
      <div class="col-md-6">
        {% for inscrit in reservation %}
        <div id="planning" class="col-md-1 bg-primary text-white">{{ inscrit.first_name }}</div>
        <div id="planning" class="col-md-2 bg-secondary text-white">{{ inscrit.username }}</div>
        <div id="planning" class="col-md-3 bg-success text-white">{{ inscrit.cours_id }}</div>
        {% endfor %}				
      </div>
    </div>
  </div>


  <div id="membre" class="container-fluid">
    <div class="row">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">*</th>
            <th scope="col">Nom</th>
            <th scope="col">Prenom</th>
            <th scope="col">Phone</th>
          </tr>
          </thead>
          {% for membres in users %}
          <tbody>
            <tr>
              <th scope="row">1</th>
              <td>{{ membres.username }}</td>
              <td>{{ membres.first_name }}</td>
              <td>{{ membres.phone }}</td>
            </tr>
          </tbody>
          {% endfor %}	
        </table>
      </div>
    </div> #}



<section id="upload">
  <div class="col-md-12">
    <div class="container">
      <div class="row">
        <form action="upload.php" method="post" enctype="multipart/form-data">
          <p>Fichier PDF du nouveau planning:</p>
          <input type="file" name="fileToUpload" id="fileToUpload">
          <input type="submit" value="Envoyer" name="submit">
        </form>
      </div>
    </div>
  </div>
</section>
{% endblock %}