  {% extends "layout.html.twig" %}
  
		{% block title %}Admin{% endblock %}

		{% block content %}

  <body id="page-top">
    <header id="headadmin" class="bg-primary text-white">
      <div class="container text-center">
        <h1>Bienvenue dans votre interface d'administration</h1>
      </div>
    </header>

<div id="pagination" class="container-fluid">
	<h1>Gestion calendrier</h1>
		<div class="row">
			<div class="col-md-12">
				<nav aria-label="Page navigation">
					<ul class="pagination pagination-lg">
          <li>
          <a>Semaine suivante</a>
          </li>
							<li><a href="{{ path('ajaxJourCour', {j:1}) }}">Lundi</a></li>
							<li><a href="{{ path('ajaxJourCour', {j:2}) }}">Mardi</a></li>
							<li><a href="{{ path('ajaxJourCour', {j:3}) }}">Mercredi</a></li>
							<li><a href="{{ path('ajaxJourCour', {j:4}) }}">Jeudi</a></li>
							<li><a href="{{ path('ajaxJourCour', {j:5}) }}">Vendredi</a></li>
							<li><a href="{{ path('ajaxJourCour', {j:6}) }}">Samedi</a></li> 
							<li>
          <a>Semaine precedente</a>
					</li>
					</ul>
        </nav>
      </div>
    </div>
  </div>



    <div class="container-fluid">
      <div class="row">
        <div id="bla" class="col-md-6">
          <h2>Planning de la journée</h2>
            {% for cours in planning %}
          <div class="row">
            <div class="col-md-3">heure: {{ cours.datecours|date('h:i') }}</div>
            <div class="col-md-3">cour: {{ cours.nom }}</div>
            <div class="col-md-3">place: {{ cours.placemax }}</div>
            <div class="col-md-3"><a  href="{{ path('updatePlanning', {id: cours.coursid}) }}">modifier</a></div>
        </div>
          {% endfor %}
      </div>

    {# UTILISATEUR AYANT RESERVER #}
    <div class="col-md-6">
      <h2>Liste des inscrits à la journée</h2>
        <table class="table">
          <thead>
            <tr>
              <th scope="col">Nom</th>
              <th scope="col">Prenom</th>
              <th scope="col">Cour</th>
              <th scope="col">Phone</th>
            </tr>
            </thead>
            {% for inscrit in reserv %}
            <tbody>
              <tr>
                <td> {{ inscrit.firstname }} </td>
                <td> {{ inscrit.username}} </td>
                <td> {{ inscrit.nom}} </td>
                <td> {{ inscrit.phone}} </td>
              </tr>
            </tbody>
            {% endfor %}	
          </table>
        </div>
      </div>
    </div>


<div id="planningadmin" class="container-fluid">
  <div class="row">
    <div class="col-md-6">
    <h2>Liste des adherents</h2>
      <table class="table">
        <thead>
        <ul class="pagination">
             {# PAGINATION COMMENTER <ul>
            
                {% if page > 1 %}
                  <li class="page-item">
                    <a class="page-link" href="index.php?numero='{{ page-1 }}'">Page précédente</a>
                  </li>     
                {% endif %}

                {% for i=1;i<=nombreDePages;i++  %}
                  <li class="page-item">
                    <a href="index.php?numero='{{ i }}''"></a> |
                  </li>
            
                {% if page < nombreDePages %}
                    <li class="page-item">
                      <a class="page-link" href="index.php?numero='{{ page+1 }}'">Page suivante</a>
                    </li>
                {% endif %}
              #}
            </ul>
          <tr>
            <th scope="col">Nom</th>
            <th scope="col">Prenom</th>
            <th scope="col">Phone</th>
          </tr>
          </thead>
          {% for membres in users %}
          <tbody>
            <tr>
              <td>{{ membres.username }}</td>
              <td>{{ membres.firstname }}</td>
              <td>{{ membres.phone }}</td>
            </tr>
          </tbody>
          {% endfor %}	
        </table>
        </div>
  
        
      <div class="col-md-6">
        <form action="upload.php" method="post" enctype="multipart/form-data">
          <p>Ajout fichier PDF du nouveau planning:</p>
          <input type="file" name="fileToUpload" id="fileToUpload">
          <input type="submit" value="Envoyer" name="submit">
        </form>
      </div>
    </div>
  </div>
</div>

<body>
{% endblock %}