  {% extends "layout.html.twig" %}
  
		{% block title %}Admin{% endblock %}

		{% block content %}

  <body id="page-top">
    <header id="headadmin" class="bg-primary text-white">
      <div class="container text-center">
        <h1>Bienvenue dans votre interface d'administration</h1>
      </div>
    </header>

   {# <nav id="navadmin" class="navbar navbar-default">
      <div class="navbar-header">
        <ul id="uladmin" class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#planning">Gestion calendrier</a>
          </li>
          <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#membres">Liste des membres</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#upload">Uploads</a>
          </li>
        </ul>
      </div>
    </nav> #}
   {# <a href="{{ path('', {id: cours.id}) }}">Supprimer</a> | <a href="{{ path('', {id: cours.id}) }}">Modifier</a> </p>#}

<div id="pagination" class="container-fluid">
	<h1>Gestion calendrier</h1>
		<div class="row">
			<div class="col-md-12">
				<nav aria-label="Page navigation">
					<ul class="pagination pagination-lg">
          <li>
          <a>Semaine suivante</a>
          </li>
							<li><a href="#">Lundi</a></li>
							<li><a href="#">Mardi</a></li>
							<li><a href="#">Mercredi</a></li>
							<li><a href="#">Jeudi</a></li>
							<li><a href="#">Vendredi</a></li>
							<li><a href="#">Samedi</a></li>
							<li><a href="#">Dimanche</a></li>
							<li>
              <a>Semaine precedente</a>
						</li>
					</ul>
        </nav>
        {% for cours in planning %}
        <div>{{cours.date_cours|date('d') }}</div>
        {% endfor %}
			</div>
		</div>
	</div>

  <div class="container-fluid">
    <div class="row">
    {# VUE PLANNING #}
      <div class="col-md-8 bg-info">
          {% for cours in planning %}
          <div class="liste_cours">
            <div class="col-md-2">{{ cours.date_cours|date('h:i') }}</div>
            <div class="col-md-2">{{ cours.nom }}</div>
            <div class="col-md-2">{{ cours.intensite }}</div>
            <div class="col-md-2">{{ cours.duree }} minutes</div>
          </div>
          {% endfor %}
      </div>


    {# UTILISATEUR AYANT RESERVER #}
    <div class="col-md-4 bg-success">
      <h2>Liste des inscrits</h2>
            <table class="table">
              <thead>
                <tr>
                  <th scope="col">Nom</th>
                  <th scope="col">Prenom</th>
                  <th scope="col">Cour</th>
                  <th scope="col">Phone</th>
                </tr>
                </thead>
                {% for inscrit in reserv %}
                <tbody>
                  <tr>
                    <td>{{ inscrit.firstname }}</td>
                    <td>{{ inscrit.nom}}</td>
                  </tr>
                </tbody>
                {% endfor %}	
              </table>
            </div>
        </div>
      </div>

<section>
  <div class="container-fluid">
    <div class="row">
    {# SECTION LISTE UTILISATEURS GENERAUX #}
      <div class="col-md-6 bg-primary">
        <h2>Liste des membres</h2>
        <table class="table">
          <thead>
            <tr>
              <th scope="col">*</th>
              <th scope="col">Nom</th>
              <th scope="col">Prenom</th>
              <th scope="col">Phone</th>
            </tr>
            </thead>
            {% for membres in users %}
            <tbody>
              <tr>
                <th scope="row">1</th>
                <td>{{ membres.username }}</td>
                <td>{{ membres.firstname }}</td>
                <td>{{ membres.phone }}</td>
              </tr>
            </tbody>
            {% endfor %}	
          </table>
        </div>

        {#SECTION UPLOAD PDF#}
        <div class="col-md-6 bg-warning">
          <h2>Upload PDF</h2>
          <form action="upload.php" method="post" enctype="multipart/form-data">
            <p>Nouveau planning PDF:</p>
            <input type="file" name="fileToUpload" id="fileToUpload">
            <input type="submit" value="Envoyer" name="submit">
          </form>
        </div>
      </div>
    </div>
  </section>

{% endblock %}