{% extends 'layout.html.twig' %}
{% set adminMenu = true %}

{% block title %}{% endblock %}

{% block content %}


<div class="well">
{{ form_start(planningForm, { 'attr': {'class': 'form-horizontal'} }) }}

    <div class="form-group" > <!-- coursid -->
        {{ form_label(planningForm.coursid, null, { 'label_attr':  {
            'class': 'col-sm-5 control-label'
        }}) }}
        <div class="col-sm-2">
            {{ form_errors(planningForm.coursid) }}
            {{ form_widget(planningForm.coursid, { 'attr':  {
                'class': 'form-control'
            }}) }}
        </div>
    </div>

    <div class="form-group"> 
        {{ form_label(planningForm.datecours, null, { 'label_attr':  {
            'class': 'col-sm-5 control-label'
        }}) }}
        <div class="col-sm-3">
            {{ form_errors(planningForm.datecours) }}
            {{ form_widget(planningForm.datecours, { 'attr':  {
                'class': 'form-control'
            }}) }}
        </div>
    </div>

    <div class="form-group"> 
        {{ form_label(planningForm.duree, null, { 'label_attr':  {
            'class': 'col-sm-5 control-label'
        }}) }}
        <div class="col-sm-3">
            {{ form_errors(planningForm.duree) }}
            {{ form_widget(planningForm.duree, { 'attr':  {
                'class': 'form-control'
            }}) }}
        </div>
    </div>

    <div class="form-group"> 
        {{ form_label(planningForm.placemax, null, { 'label_attr':  {
            'class': 'col-sm-5 control-label'
        }}) }}
        <div class="col-sm-3">
            {{ form_errors(planningForm.placemax) }}
            {{ form_widget(planningForm.placemax, { 'attr':  {
                'class': 'form-control'
            }}) }}
        </div>
    </div>
    <div class="form-group">
        <input type="submit" class="btn btn-primary btn-lg" name="submit" value="Mettre à jour" />
      </div>

{{ form_end(planningForm) }}
</div>
{% endblock %}