{% extends "layout.html.twig" %}

	{% block title %}Votre salle de sport à Mérignac{% endblock %}

	{% block content %}
		{% for flashMessage in app.session.flashbag.get('success') %}
		<div class="alert alert-success">
		    {{ flashMessage }}
		</div>
	{% endfor %}

			<!-- video -->
			<section class="home-wrapper">
				<div class="logo-video-wrapper">
					<div class="logo-wrapper">
						<img src="../web/images/logo.png" alt="" id="logo">
						<div id="replay">
							<p id="video_replay">
								<img src="../web/images/replay.png" alt="replay" title="Revoir la vidéo"/>
							</p>
						</div>
					</div>
					<img src="../web/images/web_Fotolia_65860174_XL_BANNER.jpg" alt="" id="video_img">
					<video id="video" preload="auto">
						<source type="video/mp4" src="../web/videos/presentation.mp4"/>
						<source type="video/webm" src="../web/videos/presentation.webm"/>
					</video>
				</div>
			</section>

			<section id="pres">
				<div class="container">
					<div style="visibility: visible; animation-name: bounceInLeft;" class="row wow bounceInLeft">
						
						<h1 class="text-center" style="font-size: 3em;font-size:32px;color:rgb(75, 11, 49);margin-bottom:80px;"><strong>Ex æquo</strong> est la salle de sport qui vous propose un suivi personnalisé pour atteindre vos objectifs.</h1>
						<div class="row carrousel-prestations">						
							<div class="col-sm-6 col-md-4 zoom">
								<div class="thumbnail">
									<img src="../web/images/web_shutterstock_189888596_Cour-Co.jpg" class="img-full-width" style="border-top: 40px #40a2c0 solid">
									<div class="caption">
										<h3 style="color:#40a2c0;">Cours collectifs</h3>
										<p style="text-align:justify;">Les cours collectifs Ex æquo sont des créations des 
										professeurs. Ils sont développés en adéquation avec le concept et les 
										valeurs de la salle. Les professeurs individualisent leurs cours.</p>
										<p><a href="{{ path('cours_collectifs') }}" class="btn btn-primary" role="button" style="margin-top:20px;">En savoir plus...</a></p>
									</div>
								</div>
							</div>
							<div class="col-sm-6 col-md-4 zoom">
								<div class="thumbnail">
									<img src="../web/images/web_shutterstock_316312706-min-v1_MUSCU-FITNESS.jpg" class="img-full-width" style="border-top: 40px #c83c33 solid;">
									<div class="caption">
										<h3 style="color:#c83c33;">Fitness / Cardio-musculation / Préparation physique</h3>
										<p style="text-align:justify;">Ex aequo met à disposition une aire d’entraînement de 300 m2 
										avec des équipements spécifiques, complets et de haute qualité. 
										L’entraînement est suivi par des professeurs, sportifs de haut niveau.</p>
										<p><a href="{{ path('fitness_cardio_physique') }}" class="btn btn-primary" role="button" style="margin-top:20px;">En savoir plus...</a></p>
									</div>
								</div>
							</div>
							<div class="col-sm-6 col-md-4 zoom">
								<div class="thumbnail">
									<img src="../web/images/web_shutterstock_16878019-BOXE.jpg" class="img-full-width" style="border-top: 40px #036cad solid;">
									<div class="caption">
										<h3 style="color:#036cad;">Cours de boxe</h3>
										<p style="text-align:justify;">Ex æquo revisite la boxe à travers des cours uniques, pensés et
										 développés en fonction des objectifs de chacun. Les cours sont donnés 
										par un champion du monde de boxe, qui suit et encourage les évolutions 
										de manière individuelle.</p>
										<p><a href="{{ path('cours_boxe') }}" class="btn btn-primary" role="button" style="margin-top:20px;">En savoir plus...</a></p>
									</div>
								</div>
							</div>						
							<div class="col-sm-6 col-md-4 zoom">
								<div class="thumbnail">
									<img src="../images/cours_pilates.jpg" class="img-full-width" style="border-top: 40px #00af4e solid;">
									<div class="caption">
										<h3 style="color:#00af4e;">Cours de pilates</h3>
										<p style="text-align:justify;">La méthode Pilates est une méthode douce de renforcement des muscles posturaux 
										permettant une meilleure utilisation des muscles superficiels en vue d'une amélioration de notre vie au quotidien.</p>
										<p><a href="{{ path('cours_pilates') }}" class="btn btn-primary" role="button" style="margin-top:20px;">En savoir plus...</a></p>
									</div>
								</div>
							</div>							
							<div class="col-sm-6 col-md-4 zoom">
								<div class="thumbnail">
									<img src="../web/images/cours_yoga.jpg" class="img-full-width" style="border-top: 40px #00af4e solid;">
									<div class="caption">
										<h3 style="color:#00af4e;">Cours de yoga</h3>
										<p style="text-align:justify;">Le yoga est une discipline qui a pour objectif, par la méditation, l’ascèse morale et les 
										exercices physiques, d'unifier le corps et l’esprit.</p>
										<p><a href="{{ path('cours_yoga') }}" class="btn btn-primary" role="button" style="margin-top:20px;">En savoir plus...</a></p>
									</div>
								</div>
							</div>							
						</div>						
						<h1 class="text-center" style="font-size:32px;color:rgb(75, 11, 49);margin-top:70px;"><strong>Ex æquo</strong>, c'est la pratique du sport par tous et pour tous.</h1>					
					</div>
				</div>
			</section>
{% endblock %}