	redirection pour préaration insertion AJAX (jour.html.twig)

			{{dump(dataffich)}}
			{{dump(jour)}}
			{{dump(ecart)}}
			{{dump(calcul)}}
{% for cours in planning %}
<div class="liste_cours">
	<h1>Date du cours :{{ cours.date_cours|date('d/m/Y') }}</h1>
	<h2>Heure du cours {{ cours.date_cours|date('h:i') }}</h2>
	<p>Durée : {{ cours.duree }} minutes </p>
	<p>Cours : {{ cours.nom }}</p>
	<p>Intensité du cours {{ cours.intensite }}</p>
	<p>{{ cours.id }}</p>
	{#<p><a href="{{ path('', {id: cours.id}) }}">réserver</a> | <a href="{{ path('', {id: cours.id}) }}">Supprimer</a> | <a href="{{ path('', {id: cours.id}) }}">Modifier</a> </p>#}

	
</div>
{% endfor %}