<!DOCTYPE html>
<html lang="FR-fr">
	<head>
		<meta charset="UTF-8 without a BOM">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="keywords" content= "salle, sport, mérignac, salle de sport, bordeaux, fitness, musculation, prépartion physique, remise en forme, boxe, pilates, yoga">
		<meta name="description" content="Exaequo, c'est le nouveau concept de la salle de sport à Mérignac qui vous propose un suivi personnalisé pour atteindre vos objectifs. Nous vous proposons des cours collectifs, de boxe, de fitness, de musculation ainsi que de la préparation physique." />
		<title>Exaequo - {% block title %}{% endblock %}</title>
		
		<!-- Google fonts -->
		<link href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
		<!-- Latest compiled and minified CSS -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
		<!-- animate -->
		<link rel="stylesheet" href="../web/css/animate.min.css">
		<!-- fontAwesome -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
		<!-- Style CSS -->
		<link rel="stylesheet" href="../web/css/styles.css" >
		
		<link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">

		<link rel="icon" type="image/png" href="../favicon.png" />

		<meta property="og:image" content="https://exaequo-merignac.com/images/logo-fb.jpg" />

		<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
		<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
		<!--[if lt IE 9]>
			<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
			<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
		<![endif]-->

		<script>
		  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

		  ga('create', 'UA-43667519-40', 'auto');
		  ga('send', 'pageview');

		</script>
		<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/jquery.slick/1.6.0/slick.css"/>
		<!-- Add the slick-theme.css if you want default styling -->
		<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/jquery.slick/1.6.0/slick-theme.css"/>
	</head>
	<body>
		<header>
		  <!-- menu de navigation -->
		  <nav class="navbar navbar-inverse navbar-static-top navbar-custom">
			<div class="container">
			  <div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar3">
				  <span class="sr-only">Toggle navigation</span>
				  <span class="icon-bar"></span>
				  <span class="icon-bar"></span>
				  <span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="http://www.exaequo-merignac.com"/><img src="../web/images/logo_menu.jpg" alt="Votre salle de sport à Mérignac">
				</a>
			  </div>
			  <div id="navbar3" class="navbar-collapse collapse">
				<ul class="nav navbar-nav navbar-right">
				  <li class="active"><a href="{{ path('accueil') }}">Accueil</a></li>
				  <li class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Nos prestations<span class="caret"></span></a>
					<ul class="dropdown-menu" role="menu">
					  <li><a href="{{ path('cours_collectifs') }}">Cours collectifs</a></li>
					  <li><a href="{{ path('fitness_cardio_physique') }}">Fitness/cardio/musculation</a></li>
					  <li><a href="{{ path('cours_boxe') }}">Boxe</a></li>
					  <li><a href="{{ path('cours_pilates') }}">Pilates</a></li>
					  <li><a href="{{ path('cours_yoga') }}">Yoga</a></li>
					</ul>
				  </li>
				  <li><a href="{{ path('equipe') }}">Notre équipe</a></li>
				  <li><a href="{{ path('tarifs') }}">Nos tarifs</a></li>
				  <li><a href="{{ path('partenaires') }}">Nos Partenaires</a></li>
				  <li><a href="{{ path('contact') }}">Contact</a></li>
					<li><a href="{{ path('connexion') }}">Connexion</a></li>
					<li><a href="{{ path('reservation') }}">Réserver une session</a></li>
					<li><a href="{{ path('admin') }}">Administration</a></li>
<<<<<<< HEAD
=======
				  <li><a href="{{ path('connexion') }}">Connexion</a></li>
>>>>>>> 0b4877ec37814361d960e3662dea630409a0e6f2
				  <li><a href="{{ path('inscription') }}">Inscription</a></li>
				</ul>
			  </div>
			</div>
			</nav>
		</header>

		{% block content %}{% endblock %}

		<?php
if ( !strpos(strtolower($_SERVER['HTTP_USER_AGENT']), 'googlebot') )
{
echo <<<EOL
<div id="map" class="wow">
<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2829.0110411397272!2d-0.6777082999999978!3d44.84170850000002!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd54da027c4fed81%3A0xf0fd85dc9bae57f8!2s19+Rue+Nicolas+Leblanc%2C+33700+M%C3%A9rignac!5e0!3m2!1sfr!2sfr!4v1442322802792" width="800" height="400" style="border:0; width:100%" allowfullscreen></iframe>
</div>
EOL;
}
?>
		<footer>
			<div class="container text-center">
				<a data-toggle="modal" data-target="#mentions">Mentions légales</a>
			</div>
		</footer>

		<!-- Modal -->
		<div class="modal fade" id="mentions" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
						<h4 class="modal-title" id="myModalLabel">Mentions légales</h4>
					</div>
					<div class="modal-body">
						<h2>Conception</h2>
						<p><strong>Agence Aggelos</strong><br>
						</p>
						
						<h2>Hébergement</h2>
						<p>
							<strong>OVH</strong><br>
							2 rue Kellermann - 59100 Roubaix - France
						</p>
						
						<h2>Éditeur</h2>
						<p><strong>MainEvent</strong><br>				
						19 Rue Nicolas Leblanc, 33700 Mérignac</p>
					
					</div>
				</div>
			</div>
		</div>

		<!-- jQuery -->
		<script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
		<!-- Bootstrap JavaScript -->
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
		<!-- Animate -->
		<script src="../web/js/wow.min.js"></script>
        <!-- Video mode -->
		<script src="../web/js/isInViewport.min.js"></script>
        <script>
        	new WOW().init();

			var vid = document.getElementById("video");
			var vid_replay = document.getElementById("video_replay");
			var vid_img = document.getElementById("video_img");
			vid.onended = function() {
				vid_img.style.display = "inline";
				vid_replay.style.display = "block";
				vid.style.display = "none";
			};
			vid_replay.onclick = function() {
				vid.style.display = "inline";
				vid_img.style.display = "none";
				vid.currentTime = 0;
				vid.play();
				vid_replay.style.display = "none";
			};
			function isMobile() { 
				 if( navigator.userAgent.match(/Android/i)
				 || navigator.userAgent.match(/webOS/i)
				 || navigator.userAgent.match(/iPhone/i)
				 || navigator.userAgent.match(/iPad/i)
				 || navigator.userAgent.match(/iPod/i)
				 || navigator.userAgent.match(/BlackBerry/i)
				 || navigator.userAgent.match(/Windows Phone/i)
				 ){
					return true;
				  }
				 else {
					return false;
				}
			}
	
			function isIOS() { 
				 if( navigator.userAgent.match(/iPhone/i)
				 || navigator.userAgent.match(/iPad/i)
				 || navigator.userAgent.match(/iPod/i)
				 ){
					return true;
				  }
				 else {
					return false;
				  }
			}
			$( document ).ready(function() {
				if ( isMobile() )
				{
					if ( isIOS() )
					{
						//The play button is hidden
						$("#video_replay").css("display","block")
					}
					$("video").attr('controls',true);
					$("video").attr('poster','images/web_Fotolia_65860174_XL_BANNER.jpg');
				}
				else
				{
					$("video").attr('autoplay','autoplay');
					$(window).scroll(function() {
						$('#video').each(function(){
							if ($(this).is(":in-viewport")) {
								$(this)[0].play();
							} else {
								$(this)[0].pause();
							}
						})
					});
				}
			});
        </script>
		<script type="text/javascript" src="https://cdn.jsdelivr.net/jquery.slick/1.6.0/slick.min.js"></script>
		<script type="text/javascript">
			$(document).ready(function(){
			  $('.carrousel-prestations').slick({
				dots: true,
				infinite: false,
				speed: 300,
				slidesToShow: 3,
				slidesToScroll: 3,
				autoplay: true,
				autoplaySpeed: 3000,
				responsive: [
				{
				breakpoint: 1024,
				settings: {
				slidesToShow: 3,
				slidesToScroll: 3,
				infinite: true,
				dots: true
				}
				},
				{
				breakpoint: 800,
				settings: {
				slidesToShow: 2,
				slidesToScroll: 2
				}
				},
				{
				breakpoint: 600,
				settings: {
				slidesToShow: 1,
				slidesToScroll: 1,
				autoplay: false
			  }
			}
		  ]
		});
	});
    </script>
</body>
</html>