{% extends "layout.html.twig" %}

{% block title %}Vos cours de fitness, cardio, musculation et préparation physique à Mérignac{% endblock %}

{% block content %}

<body id="reserv">
<!--LISTE DES FILTRE-->

	{#<div id="filtre" class="container-fluid">
		<div class="col-md-12">
			<div class="row">
				<h2>Filtrer par: </h2>
					<div class="col-md-2">
						<h3>Discipline</h3>
							<select class="form-control">
								<?php
									for($i=1; $i<=60; $i++){
								?>
								<option><?php echo $i; ?></option>
								<?php
								}
								?>
						</select>
					</div>
					<div class="col-md-2">
					<h3>Intensité</h3>
						<select class="form-control">
							<?php
								for($i=1; $i<=4; $i++){
							?>
							<option><?php echo $i; ?></option>
							<?php
							}
							?>
					</select>
				</div>
			</div>
		</div>
	</div> #}

	<!--PAGITATION JOUR + SEMAINE-->
	<div id="pagination" class="container-fluid">
	<h1>Reserver votre place</h1>
		<div class="row">
			<div class="col-md-12">
				<nav aria-label="Page navigation">
					<ul class="pagination pagination-lg">
						<li>
							<a>Semaine precedente</a>
							</li>
							<li><a href="{{ path('ajaxJourCour', {j:1}) }}">Lundi</a></li>
							<li><a href="{{ path('ajaxJourCour', {j:2}) }}">Mardi</a></li>
							<li><a href="{{ path('ajaxJourCour', {j:3}) }}">Mercredi</a></li>
							<li><a href="{{ path('ajaxJourCour', {j:4}) }}">Jeudi</a></li>
							<li><a href="{{ path('ajaxJourCour', {j:5}) }}">Vendredi</a></li>
							<li><a href="{{ path('ajaxJourCour', {j:6}) }}">Samedi</a></li>
							<li><a>Dimanche</a></li>
							<li>
							<a>Semaine suivante</a>
						</li>
					</ul>
				</nav>	
			</div>
		</div>
	</div>

	<!--PLANING-->
	<div id="planning" class="container-fluid">
		<div class="row">
			<div class="col-md-12">
			{#dump(date)#}
			{% for cours in planning %}
			<div class="liste_cours">
		{# <div  class="col-md-1 bg-primary text-white">{{ cours.date_cours|date('d/m/Y') }}</div> #} 
			<div class="col-md-3 text-white">{{ cours.date_cours|date('h:i') }}</div>
			<div class="col-md-3 text-white">Cours : {{ cours.nom }}</div>
			<div class="col-md-3 text-white">Intensité du cours: {{ cours.intensite }}</div>
			<div class="col-md-3 text-white">Durée : {{ cours.duree }} minutes</div>
		{#<div id="planning" class="col-md-3 text-white"> <a href="{{ path('', {id: cours.id}) }}">réserver</a>reserver</div>#}
			</div>
			{% endfor %}	
		</div>
	</div>
</div>

</body>	
{% endblock %}
{% block javascript %}
    <script>
        $(function(){
            $('#pagination').click(function(event){
                //permet d'empêcher la validation du formulaire et le chargement de la page
                event.preventDefault();
                //construction de l'url de la requête avec les paramètres
                var url = "{{ path('ajaxJourCour') }}";
                //requête ajax en POST
                $.ajax({
                    type: 'POST',
                    url: url,
                    data: $('form').serialize(),
                    dataType: 'html',
                    success: function(data){
                        $('#result').html(data);
                    },
                    error: function() {
                        alert('La requête n\'a pas abouti'); 
                    }
                });
            });
        });
    </script>      
{% endblock%}