{% extends 'layout.html.twig' %}
{% set adminMenu = true %}

{% block title %}{% endblock %}

{% block content %}


<div class="well">
{{ form_start(planningForm, { 'attr': {'class': 'form-horizontal'} }) }}

    <div class="form-group" > <!-- cours_id -->
        {{ form_label(planningForm.cours_id, null, { 'label_attr':  {
            'class': 'col-sm-5 control-label'
        }}) }}
        <div class="col-sm-2">
            {{ form_errors(planningForm.cours_id) }}
            {{ form_widget(planningForm.cours_id, { 'attr':  {
                'class': 'form-control'
            }}) }}
        </div>
    </div>

    <div class="form-group" id="truc"> 
        {{ form_label(planningForm.date_cours, null, { 'label_attr':  {
            'class': 'col-sm-5 control-label'
        }}) }}
        <div class="col-sm-3">
            {{ form_errors(planningForm.date_cours) }}
            {{ form_widget(planningForm.date_cours, { 'attr':  {
                'class': 'form-control'
            }}) }}
        </div>
    </div>

    <div class="form-group"> 
        {{ form_label(planningForm.duree, null, { 'label_attr':  {
            'class': 'col-sm-5 control-label'
        }}) }}
        <div class="col-sm-3">
            {{ form_errors(planningForm.duree) }}
            {{ form_widget(planningForm.duree, { 'attr':  {
                'class': 'form-control'
            }}) }}
        </div>
    </div>

    
{{ form_end(planningForm) }}
</div>
{% endblock %}